* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f0bcbc;
    padding: 2rem 5vw; /* left and right spacing */
    color: #111827;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;
}

nav .left, nav .right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

nav input[type="text"] {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    background-color: #f0fdf4;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

select {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    background-color: #f9fafb;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
}

.product-card {
    text-align: center;
}

.product-card img {
    width: 100%;
    max-width: 200px;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    margin: 0 auto;
    display: block;
}


.product-card h3 {
    font-size: 1rem;
    margin-top: 0.75rem;
}

.product-card p {
    color: #10b981;
    margin-top: 0.25rem;
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 2rem;
}

.pagination button {
    background-color: #f0fdf4;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
}

.pagination .active {
    background-color: #d1fae5;
}

@media (max-width: 768px) {
    nav, .filters {
    flex-direction: column;
    align-items: flex-start;
    }
}